<%- include("partials/header") %>
<body class="profile animate__animated animate__fadeIn">
  <header>
    <a href="/"><div class="logo"><img src="/media/logo.png" alt="logo" class="profile-icon logo-icon"></div></a>
    <div class="profile-icon">
      <img class="profile-icon" src="<%= user.image %>" >
      <div class="profile-menu">
        <div id="profile-name"><%= user.fname %> <%= user.lname %></div>
        <div id="logout">Logout</div>
      </div>
    </div>
  </header>
  <div class="profile-banner">
    <div class="banner-content">
      <h3>Create a new party</h3>
      <p>Choose a theme, invite all your friends.</p>
      <div class="banner-btn-wrapper">
        <button class="btn-blue" type="button" name="button" onclick="popup(0);">Host Party</button>
        <button class="btn-pink" type="button" name="button" onclick="popup(1);">Join Party</button>
      </div>
    </div>
  </div>
  <div class="filter-party">
    <h2>Sort</h2>
    <div class="filter-buttons" id="sort-section">
      <button type="button" name="button" class="active">All</button>
      <button type="button" name="button">Past</button>
      <button type="button" name="button">Upcoming</button>
      <button type="button" name="button">Ongoing</button>
    </div>
  </div>
  <ul class="party-list" id="parties">
    <% parties.forEach(party => { %>
        <a href="/party/<%= party._id %> ">
          <li class="animate__animated animate__fadeInUp">
            <div class="party-thumb <%= party.party_theme %>">
              <span class="<%= party.status %>-tag"><%= party.status %></span>
            </div>
            <div class="party-info">
              <p class="party-name"><%= party.party_name %> </p>
              <div class="party-date-venue">
                <p><%= party.date.toDateString() %> </p>
                <p><%= party.venue %> </p>
              </div>
            </div>
          </li>
        </a>
      <% }); %>
      <% if(!parties.length){ %>
        <div class="empty-placeholder animate__animated animate__fadeInUp">
          <div class="placeholder-icon"></div>
          <h1 class="placeholder-heading">OOPS!</h1>
          <p class="placeholder-text">Looks like there are no parties going on here.</p>
        </div>
      <% } %>
  </ul>
</body>
<!-- Overlay to create new party -->
<div class="overlay ">
  <div class="popup animate__animated animate__fadeInDownBig">
    <header>
      <h2>Host Party</h2>
      <div class="close-icon" onclick="popup(0)"></div>
    </header>
    <form class="" action="/party" method="post">
      <label for="theme">Select Party Theme</label>
      <select class="party-theme" name="theme">
        <option value="anniversery">Anniversery</option>
        <option value="birthday">Birthday</option>
        <option value="casual">Casual</option>
        <option value="formal">Formal</option>
      </select>
      <label for="name">Party Name</label>
      <input type="text" name="name" placeholder="Party Name" value="" maxlength="30" required>
      <label for="name">Venue</label>
      <input type="text" name="venue" placeholder="Party Venue" value="" maxlength="30" required>
      <label for="name">Time</label>
      <input type="date" name="date" value="" min="<%= todayDate %>" required>
      <label for="name">Description</label>
      <textarea name="description" maxlength="150"></textarea>
      <input class="btn-blue" type="submit" value="Host">
    </form>
  </div>
</div>
<!-- End of overlay to create new party -->

<!-- Overlay to join other party -->
<div class="overlay ">
  <div class="popup animate__animated animate__fadeInDownBig">
    <header>
      <h2>Join Party</h2>
      <div class="close-icon" onclick="popup(1)"></div>
    </header>
    <div class="party-invite"></div>
    <p class="join-message">You have been added to the party list</p>
    <form class="join-party" action="/party/:id/user" method="post">
      <label for="theme">Enter Party URL</label>
      <input type="text" id="url" name="url" placeholder="https://houseparty/party/345336wgwf" value="" required>
      <input class="btn-pink" type="submit" value="Join">
    </form>
  </div>
</div>
<!-- End of overlay to join another party -->

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
$("#logout").on( "click", function(){
  window.location.href = '/users/logout';
});

  $(() => { // jQuery anynomus function
    const $form = $('.join-party') // select form
    $form.on('submit', sendData)  // call sendData() upon form submit.
    function sendData(e){ // function to send data that generates an event 'e'.
      e.preventDefault()  // prevent default submission event.
      let input_url = $('#url').val();

      // all : contains all parties.
      var inputted_Url = input_url;

      //checking that "http://localhost:3000/party/" is present or not in inputted url.
      var check01 = inputted_Url.includes("http://localhost:3000/party/");

      //checking length of inputted url
      var temp_Url = inputted_Url.slice(28, inputted_Url.length);
      var check02 = false;
      if (temp_Url.length == 24)
        check02 = true;

      //checking for alphanumeric characters only
      var check03;
      if(temp_Url.match(/((^[0-9]+[a-z]+)|(^[a-z]+[0-9]+))+[0-9a-z]+$/i))
        check03 = true;
      else
        check03 = false;

      //if all 3 conditions are true then url is valid
      if(check01 && check02 && check03) {
        let party_id = input_url.split('/')[4];
        let output_url = "/party/"+party_id+"/user";
        let match = 0;
        for(let i=0; i < all.length; i++)
        {
          if(all[i]._id == party_id)
          {
            match++;
            break;
          }
        }
        if(!match)
        {
          const options = { // Ajax request
            method: 'post',
            url: output_url,
            data: sendData,
            async: false
          };
          // control returns here after being redirected from the backend
          $.ajax(options).done(response => {

            // show response of party submission here.
            if(response === "past-party") {
              $(".join-message").css({ "display" : "block", "background" : "#f39c12" });
              $(".join-message")[0].innerHTML = "Sorry, The party is over !";
            } else {
              $(".join-message").css({ "display" : "block", "background" : "#2ecc71" });
              $(".join-message")[0].innerHTML = "You have been added to the party list !";
              setTimeout(function()
              {
                $(location).attr('href', "/party/"+party_id);
              },1000); // 1second delay.
            }

          });
        }
        else {
          $(".join-message").css({ "display" : "block", "background" : "#f39c12" });
          $(".join-message")[0].innerHTML = "You are already a party member !";
        }
      }
      else {
        $(".join-message").css({ "display" : "block", "background" : "#e74c3c" });
        $(".join-message")[0].innerHTML = "Please input correct url format!";
      }
  }
});

  // fetching route data
  let all =  <%- JSON.stringify(parties) %> // store objects of all parties

</script>
<script type="text/javascript" src="/js/indexScript.js"></script>
<%- include("partials/footer") %>
