<%- include("partials/header") %>
  <body class="party">
    <header>
      <a href="/"><div class="logo"><h1>LOGO</h1></div></a>
      <div class="profile-icon"></div>
    </header>
    <h1>Welcome to, <span><%= party.party_name %></span></h1>
    <div class="party-grid">
      <div class="column-1">
        <div class="party-intro">
          <div class="card-header">
            <h3>Hosted By, <span><%= host.fname %> <%= host.lname %></span></h3>
            <p onclick="popup(3);">Edit Discription</p>
          </div>
          <hr>
          <p id="party-description"><%= party.description %></p>
          <!-- Displays latest 4 participants -->
          <div class="participants">
            <p onclick="popup(2);">Participants</p>
            <div class="participant-list">
              <div class=""></div>
              <div class=""></div>
              <div class=""></div>
            </div>
          </div>
          <!-- End of Display latest 4 participants -->
        </div>
      </div>
      <div class="column-2">
        <div class="party-cta">
          <!-- Total contribution by all members -->
          <h1>Total Contribution : Rs.<span> <%= party.totalcontribution %></span></h1>
          <!-- <h3>Your Contribution : Rs.<span> <%= party.totalcontribution %></span></h3> -->
          <div class="btn-wrapper">
            <!-- <button class="btn-blue-hollow" onclick="location.href = '/dashboard';" type="button" name="go-home">Go home</button> -->
            <button class="btn-blue" type="button" name="add-contribution" onclick="popup(0);">Add Contribution</button>  <!-- Popup that allows users to contribute in the party -->
            <button class="btn-pink" type="button" name="exit-party" onclick="popup(4);">Exit Party</button>  <!-- Popup that asks for exit party confirmation -->
          </div>
        </div>
        <div class="party-items">
          <div class="card-header">
            <h3>Party Items</h3>
            <!-- total cost o unpurchased item -->
            <h3>Rs. <span id="total-cost"><%= party.totalcost %></span></h3>
          </div>
          <hr>
          <!-- New items get appended here $(".item-list").innerHTML += <li>...</li> -->
          <ul class="item-list" id="items">
            <!-- Item to be populated dynamically with its data -->
            <% party.items.forEach(item => { %>
              <li id="<%=item._id%>">
                <div class="item-icon <%=item.category.toLowerCase()%>-icon"></div>
                <div class="item-content">
                  <div class="item-detail">
                    <p class="name"><%= item.name %> </p>
                    <p class="quantity">Quantity : <span class="item-quantity"><%=item.quantity%></span></p>
                    <p class="cost">Rs. <span class="item-cost"><%=item.price%></span> </p>
                  </div>
                  <div class="item-ops">
                    <% if (currentUser._id.toString() === host._id.toString()) { %>
                      <div class="options delete"></div>
                    <% } else { %>
                      <div class=""></div>
                    <% } %>
                    <label class="custom-checkbox">
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </li>
            <% }); %>
          </ul>
          <!-- End of item list -->
          <div class="add-item <%=party.status%>-status-display" onclick="popup(1)"></div>
        </div>
      </div>
    </div>
  </body>
  <!-- Overlay code to contribution form -->
  <div class="overlay">
    <div class="popup">
      <header>
        <h2>Contribute to the party</h2>
        <div class="close-icon" onclick="popup(0)"></div>
      </header>
      <div class="party-entry"></div>
      <form class="" action="/party/<%= party._id %>/contribution" method="post">
        <label for="contribution">Contribution</label>
        <input type="number" name="contribution_amt" placeholder="Enter Amount" min="0" required>
        <input class="btn-pink" type="submit" name="" value="Pay">
      </form>
    </div>
  </div>
  <!-- End of Overlay code to contribution form -->

  <!-- Overlay code to add new item -->
  <div class="overlay">
    <div class="popup">
      <header>
        <h2>Add New Item</h2>
        <div class="close-icon" onclick="popup(1)"></div>
      </header>
      <form id="items-form" class="" action="/party/:id/item" method="post">
        <label for="item-category">Select item category</label>
        <select class="" name="category">
            <option value="cake">Cake</option>
            <option value="soda">Soda</option>
            <option value="pizza">Pizza</option>
            <option value="balloons">Balloons</option>
        </select>
        <label for="item-priority">Select item priority</label>
        <select class="" name="priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <label for="item-name">Name</label>
        <input type="text" name="name" placeholder="Item name" value="" required>
        <label for="item-cost">Cost</label>
        <input type="number" name="cost" placeholder="Cost" value="" required>
        <label for="item-cost">Quantity</label>
        <input type="number" name="quantity" placeholder="Cost" value="1" required>
        <input class="btn-blue" type="submit" name="" value="Add Item">
      </form>
    </div>
  </div>
  <!-- End of Overlay code to add new item -->

  <!-- Overlay to display list of all participants -->
  <div class="overlay">
    <div class="popup">
      <header>
        <h2>List of participants</h2>
        <div class="close-icon" onclick="popup(2)"></div>
      </header>
      <!-- Upgarde css , yet to be worked -->
      <ul class="participant-list-complete">
        <li style="color:white;"><span style="margin-right: 100px;">Name</span><span >Contribution</span></li>
        <% party.participants.forEach(function(participant){ %>
           <% users.forEach(function(user){ %>
             <% if(user._id.equals(participant.id)){ %>
              <li style="color:white;"><span style="margin-right: 100px;"><%= user.fname %> <%= user.lname %> </span> <span><%= participant.contribution%></span></li>
             <% } %>
           <% }); %>
        <% }); %>
      </ul>
    </div>
  </div>
  <!-- End Overlay to display list of all participants -->

  <!-- Overlay to display list of all participants -->
  <div class="overlay">
    <div class="popup">
      <header>
        <h2>Edit Discription</h2>
        <div class="close-icon" onclick="popup(3)"></div>
      </header>
      <form action="/party/:id" method="put">
        <label for="description">Description</label>
        <textarea name="description"></textarea>
        <input class="btn-blue" type="submit" name="" value="Edit Description">
      </form>
    </div>
  </div>
  <!-- End Overlay to display list of all participants -->

  <!-- Overlay to Confirm party termination -->
  <div class="overlay">
    <div class="popup">
      <header>
        <h2>Leaving so soon ?</h2>
        <div class="close-icon" onclick="popup(4)"></div>
      </header>
    </div>
  </div>
  <!-- End Overlay to confirm party termination -->

  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/partyScript.js"></script>
<%- include("partials/footer") %>
