<%- include("partials/header") %>
<% if (currentUserContri === 0) { %>
  <body class="party animate__animated animate__fadeIn" onload="popup(0);">
<% } else { %>
  <body class="party animate__animated animate__fadeIn">
<% } %>
    <header>
      <a href="/"><div class="logo"><img src="/media/logo.png" alt="logo" class="profile-icon logo-icon"></div></a>
      <div class="profile-icon">
        <img class="profile-icon" src="<%= currentUser.image %>" >
        <div class="profile-menu">
          <div id="profile-name"><%= currentUser.fname %> <%= currentUser.lname %></div>
          <div id="logout">Logout</div>
        </div>
      </div>
    </header>
    <h1>Welcome to, <span><%= party.party_name %></span></h1>
    <div class="party-grid">
      <div class="column-1">
        <div class="party-intro">
          <div class="card-header">
            <h3>Hosted By, <span><%= host.fname %> <%= host.lname %></span></h3>
            <textarea id="hidden-url-input" rows="8" cols="80"></textarea>
            <div class="description-wrapper">
              <div class="tooltip">
                <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                <p id="copy-link" onclick="copyPartyLink();" onmouseout="outFunc();">Copy Party Link</p>
              </div>
              <% if(currentUser._id.equals(party.hosts[0])) { %>
                <p id="edit-description" onclick="popup(3);">Edit Discription</p>
              <% } %>
            </div>
          </div>
          <hr>
          <p id="party-description"><%- party.description %></p>
          <!-- Displays latest 3 participants -->
          <div class="participants">
            <p id="show-participants" onclick="popup(2);"><%= users.length %>  Participants</p>
            <div class="participant-list">
              <%
              let max = 3;
              if(users.length < max) max = users.length;
              for(var i = users.length - max; i <= users.length - 1; i++) { %>
                <img class="profile-icon" src="<%= users[i].image %>" >
              <% } %>
            </div>
          </div>
          <!-- End of Display latest 3 participants -->
        </div>

        <div class="party-banner <%= party.party_theme%>-banner">

        </div>
      </div>
      <div class="column-2">
        <div class="party-cta">
          <!-- Total contribution by all members -->
          <h1>Total Contribution : Rs.<span id="total-contribution"> <%= party.totalcontribution %></span></h1>
          <!-- <h3>Your Contribution : Rs.<span> <%= party.totalcontribution %></span></h3> -->
          <div class="btn-wrapper">
            <!-- <button class="btn-blue-hollow" onclick="location.href = '/dashboard';" type="button" name="go-home">Go home</button> -->
            <button class="btn-blue" type="button" name="add-contribution" onclick="popup(0);">Add Contribution</button>  <!-- Popup that allows users to contribute in the party -->
            <button class="btn-pink" type="button" name="exit-party" onclick="popup(4);">Exit Party</button>  <!-- Popup that asks for exit party confirmation -->
          </div>
        </div>
        <div class="party-items">
          <div class="card-header">
            <h3>Party Items</h3>
            <!-- total cost o unpurchased item -->
            <h3>Rs. <span id="total-cost"><%= party.totalcost - party.totalpurchased%></span></h3>
          </div>
          <hr>
          <!-- New items get appended here $(".item-list").innerHTML += <li>...</li> -->
          <ul class="item-list" id="items">
            <!-- Item to be populated dynamically with its data -->
            <% party.items.slice().reverse().forEach(item => { %>
              <li id="<%=item._id%>">
                <div class="item-icon <%=item.category.toLowerCase()%>-icon"></div>
                <div class="item-content">
                  <div class="item-detail">
                    <p class="name"><%= item.name %> </p>
                    <p class="quantity">Quantity : <span class="item-quantity"><%=item.quantity%></span></p>
                    <p class="cost">Rs. <span class="item-cost"><%=item.price%></span> </p>
                  </div>
                  <div class="item-ops">
                    <div class="option"></div>
                    <div class="options">


                      <%

                      // check if current user is a consumer
                      let is_consumer = false;
                      if(item.forall) {
                        is_consumer = true;
                      } else {
                        for(let i=0; i < item.consumers.length; i++) {
                          if(item.consumers[i].equals(currentUser._id))
                          {
                            is_consumer = true;
                            break;
                          }
                        }
                      }

                      // check if current user is host
                      let is_host = false;
                      if(currentUser._id.equals(host._id)) {
                        is_host = true;
                      }

                      // To show options (except possibly view-consumers) 
                      // 1. Party must NOT be "PAST"
                      // 2. Item must NOT be purchased
                      
                      if( party.status !== "past" && !item.purchased) {

                        // Edit and Delete options will be available on following cases:
                        // 1. Item is for all item
                        // 2. Item is individual and current user is a consumer/host

                        if( is_consumer || is_host ) { 
                        %>
                          <div class="edit">Edit</div>
                          <div class="delete">Delete</div> 
                        <% 
                        }

                        // Add-me and Remove-me options will be available on following cases:
                        // 1. Item is individual
                        // 2. Consumer will see Remove-me option
                        // 3. Others will see Add-me option

                        if(!item.forall) {
                          if(is_consumer) {
                          %>
                            <div class="remove-me">Remove Me</div>
                          <%
                          } else {
                          %>
                            <div class="add-me">Add Me</div>
                          <%
                          }
                        }
                        
                      }

                      // View-Consumers option will be available for indvidual item in every situation
                      if(!item.forall) {
                      %>
                        <div class="view">View Consumers</div>
                      <%
                      } 
                      %>
                    </div>
                    <% if(party.status != "past") { %>
                      <label class="custom-checkbox">
                        <% if (item.purchased) { %>
                          <input class="checkbox" type="checkbox" checked="checked">
                        <% } else { %>
                          <input class="checkbox" type="checkbox">
                        <% } %>
                        <span class="checkmark"></span>
                      </label>
                    <% } %>
                  </div>
                </div>
              </li>
            <% }); %>
            <% if(!party.items.length) { %>
              <div class="empty-placeholder">
                <h1 class="placeholder-heading" style="font-size : 20px; letter-spacing : 0px;">Add Items</h1>
                <p class="placeholder-text">Add some party items to get this party started.</p>
              </div>
            <% } %>
          </ul>
          <!-- End of item list -->
          <% if(party.status != "past") { %>
          <div class="add-item <%=party.status%>-status-display" onclick="popup(1)"></div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
  <!-- Overlay code to contribution form -->
  <div class="overlay">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>Contribute to the party</h2>
        <div class="close-icon" onclick="popup(0)"></div>
      </header>
      <div class="party-entry"></div>
      <form class="" id="contribution-form" action="/party/<%= party._id %>/contribution" method="post">
        <label for="contribution">Contribution</label>
        <input type="number" name="contribution_amt" placeholder="Enter Amount" min="1" required>
        <input class="btn-pink" type="submit" name="" value="Pay">
      </form>
    </div>
  </div>
  <!-- End of Overlay code to contribution form -->

  <!-- Overlay code to add new item -->
  <div class="overlay ">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>Add New Item</h2>
        <div class="close-icon" onclick="popup(1)"></div>
      </header>
      <form id="items-form" class="" action="/party/:id/item" method="post">
        <label for="item-type">Select item type</label>
        <select class="item-type" name="type">
            <option value="1">For Everyone</option>
            <option value="2">For Me</option>
        </select>
        <label for="item-category">Select item category</label>
        <select class="" name="category">
            <option value="cake">Cake</option>
            <option value="decorations">Decorations</option>
            <option value="party-popper">Party Popper</option>
            <option value="pizza">Pizza</option>
            <option value="food">Food & Snacks</option>
            <option value="fruits-vegetables">Fruits & Vegetables</option>
            <option value="water">Water</option>
            <option value="soda">Soda</option>
            <option value="beer">Beer</option>
            <option value="wine">Wine</option>
            <option value="cups">Cups & Plates</option>
            <option value="cards">Cards</option>
            <option value="board-games">Board Games</option>
            <option value="video-games">Video Games</option>
        </select>
        <label for="item-priority">Select item priority</label>
        <select class="" name="priority">
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
        </select>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Item name" value="" maxlength="15" required>
        <label for="cost">Cost</label>
        <input type="number" name="cost" placeholder="Cost" min="1" value="" required>
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" placeholder="Cost" value="1" min="1" required>
        <input class="btn-blue" type="submit" name="" value="Add Item">
      </form>
    </div>
  </div>
  <!-- End of Overlay code to add new item -->

  <!-- Overlay to display list of all participants -->
  <div class="overlay">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>List of participants</h2>
        <div class="close-icon" onclick="popup(2)"></div>
      </header>
      <!-- Upgarde css , yet to be worked -->
      <div class="participant-list-header">
        <h4 class="name-header">Name</h4>
        <h4 class="contribution-header">Contribution</h4>
        <h4 class="balance-header">Balance</h4>
      </div>
      <ul class="participant-list-complete">
        <% for( let i = users.length - 1; i >= 0; i-- ) { %>
        <li class="participants" id="<%=users[i]._id%>">
          <img class="profile-icon" src="<%= users[i].image %>" >
          <div class="contribution-details">
            <span class="user-name"><%=users[i].fname%> <%=users[i].lname%></span>
            <span class="user-contribution"><%=party.participants[i].contribution%></span>
            <% var adjust = party.participants[i].balance.toFixed(2); %>
            <% if (adjust > 0) { %>
              <span class="adjustment positive-adjust">+<%=adjust%></span>
            <% } else if (adjust == 0) { %>
              <span class="adjustment neutral-adjust"><%=adjust%></span>
            <% } else { %>
              <span class="adjustment negative-adjust"><%=adjust%></span>
            <% } %>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <!-- End Overlay to display list of all participants -->

  <!-- Overlay to display description -->
  <div class="overlay">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>Edit Discription</h2>
        <div class="close-icon" onclick="popup(3)"></div>
      </header>
      <form action="/party/:id/description" method="put" id="description-form">
        <label for="description">Description</label>
        <textarea name="description" maxlength="150"><%=party.description%></textarea>
        <input class="btn-blue" type="submit" name="" value="Edit Description">
      </form>
    </div>
  </div>
  <!-- End Overlay to display description -->

  <!-- Overlay to Confirm party termination -->
  <div class="overlay">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>Leaving so soon ?</h2>
        <div class="close-icon" onclick="popup(4)"></div>
      </header>
      <!-- If host then show end party else show exit -->
      <% if (currentUser._id.toString() === party.hosts[0].toString()) { %>
        <div class="end-party-image"></div>
        <p class="popup-message">As a host, exiting a party will end it for everyone. Are
        you sure you want to end the party ?</p>
        <button class="exit-button">End Party</button>
      <% } else { %>
        <div class="exit-party-image"></div>
        <p class="popup-message">Are you sure you want to leave the party ? Once
           exitted you will no longer have access to this party.</p>
        <button class="exit-button">Exit Party</button>
      <% } %>

    </div>
  </div>
  <!-- End Overlay to confirm party termination -->

  <!-- Overlay code to Edit existing item -->
  <div class="overlay">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>Edit Item</h2>
        <div class="close-icon" onclick="popup(5)"></div>
      </header>
      <form id="items-form-edit" class="" action="/party/:party_id/item/:item_id/edit" method="put">
        <label for="name">Name</label>
        <input type="text" class="name" name="name" placeholder="Item name" value="" maxlength="15" required>
        <label for="cost">Cost</label>
        <input type="number" class="cost" name="cost" placeholder="Cost" min="1" value="" required>
        <label for="quantity">Quantity</label>
        <input type="number" class="quantity" name="quantity" placeholder="Cost" value="1" min="1" required>
        <input class="btn-blue" type="submit" name="" value="Edit Item">
      </form>
    </div>
  </div>
  <!-- End of Overlay code to edit existing item -->

  <!-- Overlay code to Confirm consumer addition -->
  <div class="overlay">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>You Have Been Added</h2>
        <div class="close-icon" onclick="popup(6)"></div>
      </header>
      <div class="add-consumer-image"></div>
      <p class="popup-message">You are now sharing <span id="shared-item"></span>. Which means the total cost of the item will
         been shared among all its consumers</p>
    </div>
  </div>
  <!-- End of Overlay code to confirm consumer addition -->

  <!-- Overlay code to Confirm consumer removal -->
  <div class="overlay">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>You Have Been Removed</h2>
        <div class="close-icon" onclick="popup(7)"></div>
      </header>
      <div class="remove-consumer-image"></div>
      <p class="popup-message">You are no longer sharing <b><span id="unshared-item"></span></b>. Which means you will no longer have
      to pay a share for this item.</p>
    </div>
  </div>
  <!-- End of Overlay code to confirm consumer removal -->
  <!-- Overlay code to show consumer list -->
  <div class="overlay">
    <div class="popup animate__animated animate__fadeInDownBig">
      <header>
        <h2>List of consumers</h2>
        <div class="close-icon" onclick="popup(8)"></div>
      </header>
      <ul class="consumer-list-complete">

      </ul>
    </div>
  </div>

  <!-- End of Overlay code to show consumer list -->

  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/partyScript.js"></script>
<%- include("partials/footer") %>
