<%- include("partials/header") %>
<body class="sign-up animate__animated animate__fadeIn">
    <header>
      <a href="/"><div class="logo"><img src="/media/logo.png" alt="logo" class="profile-icon logo-icon"></div></a>
    </header>
    <div class="wrapper">
      <div class="sign-up-banner"></div>
      <div class="sign-up-content">
        <!-- Sign in form -->
        <form id="signup-form" action="/users/register" method="POST">
          <h1>Sign Up</h1>
          <%- include("partials/messages")%>
          <!-- Enter first name -->
          <input type="text" name="fname" value="<%= typeof fname != 'undefined' ? fname : '' %>" placeholder="First Name" required/>
          <!-- Enter last name -->
          <input type="text" name="lname" value="<%= typeof lname != 'undefined' ? lname : '' %>" placeholder="Last Name" required/>
          <!-- Check if the entered username matches with any username -->
          <input type="email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" placeholder="Email" required/>
          <!-- Throw this error if you are trying to login with an id that already exists -->
          <p id="username-warning">Username not available</p>
          <input type="password" name="password" value="<%= typeof password != 'undefined' ? password : '' %>" placeholder="Password" required/>
          <input type="password" name="confirm_password" value="<%= typeof confirm_password != 'undefined' ? confirm_password : '' %>" placeholder="Confirm Password" required/>
          <!-- Error when passwords dont match-->
          <p id="password-warning">Passwords dont match</p>
          <!-- Enter Mobile Number -->
          <input type="tel" name="mobile_no" value="<%= typeof mobile_no != 'undefined' ? mobile_no : '' %>" placeholder="10 Digit Mobile Number" pattern="[0-9]{10}" required/>
          <input type="submit" class="btn-blue" value="Sign Up">
          <h2 style="text-align : center;">Or</h2>
            <a href="/users/login">
              <button type="button" class="btn-pink" name="button" id="sign-in-btn">Sign In</button>
            </a>
        </form>
        <!-- End of Sign in form -->
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- <script type="text/javascript">

    let usernames = ["ravi.mnnit", "ashishxenon", "namank63"];
    $('input[type="text"]').on("input", function() {
      // Username from sign-in form with no space at start and end
      var enteredUserName = $('input[type="text"]').val().trim();
      // Check if username already exists or not
      for(var i=0; i<usernames.length; i++) {
        if(enteredUserName === usernames[i]) {
          $('#username-warning').css("display", "block");
          break;
        }
        $('#username-warning').css("display", "none");
      }
    });

  </script> -->
<%- include("partials/footer") %>
